@import "tailwindcss";
@import "tw-animate-css";
/* @import "@fontsource/playfair-display";
@import "@fontsource/public-sans"; */

@layer base {
        html,
        body {
          margin: 0;
          padding: 0;
        }
        body {
          overscroll-behavior: none;
        }
        main > :first-child {
          margin-top: 0 !important;
        }
        main > :last-child {
          margin-bottom: 0 !important;
        }
      }
      ::-webkit-scrollbar {
        display: none;
      }

@theme inline {
  --color-error-container: #ffdad6;
  --color-secondary-fixed-dim: #afc8f3;
  --color-on-error-container: #93000a;
  --color-surface-variant: #eae1d7;
  --color-on-secondary: #ffffff;
  --color-on-secondary-fixed: #001b3b;
  --color-secondary-container: #bad3ff;
  --color-on-surface-variant: #44474d;
  --color-on-error: #ffffff;
  --color-surface-bright: #fff8f3;
  --color-on-primary-container: #8a99b5;
  --color-on-primary-fixed: #0c1c32;
  --color-surface: #fff8f3;
  --color-outline: #75777e;
  --color-surface-container: #f6ece2;
  --color-on-tertiary-container: #b7934d;
  --color-on-primary-fixed-variant: #38475f;
  --color-on-secondary-fixed-variant: #2e476c;
  --color-inverse-on-surface: #f8efe5;
  --color-surface-container-lowest: #ffffff;
  --color-primary-fixed-dim: #b8c7e4;
  --color-surface-container-highest: #eae1d7;
  --color-tertiary-fixed: #ffdea5;
  --color-primary-fixed: #d5e3ff;
  --color-surface-container-high: #f0e7dd;
  --color-on-tertiary-fixed-variant: #5d4201;
  --color-surface-tint: #505f78;
  --color-surface-container-low: #fbf2e8;
  --color-surface-dim: #e1d9cf;
  --color-primary: #0c1c32;
  --color-tertiary-container: #412d00;
  --color-outline-variant: #c5c6cd;
  --color-on-background: #1f1b15;
  --color-inverse-surface: #343029;
  --color-on-tertiary-fixed: #261900;
  --color-tertiary-fixed-dim: #e9c176;
  --color-on-tertiary: #ffffff;
  --color-secondary: #475f86;
  --color-secondary-fixed: #d5e3ff;
  --color-on-secondary-container: #425a81;
  --color-background: #fff8f3;
  --color-tertiary: #271900;
  --color-on-surface: #1f1b15;
  --color-primary-container: #223148;
  --color-inverse-primary: #b8c7e4;
  --color-error: #ba1a1a;
  --color-on-primary: #ffffff;

  /* Border Radius */
  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;

  /* Spacing */
  --spacing-margin-mobile: 1.25rem;
  --spacing-space-xl: 2rem;
  --spacing-space-xs: 0.5rem;
  --spacing-space-2xs: 0.25rem;
  --spacing-gutter-desktop: 1.5rem;
  --spacing-gutter-mobile: 1rem;
  --spacing-space-md: 1rem;
  --spacing-space-4xl: 6rem;
  --spacing-space-2xl: 3rem;
  --spacing-space-lg: 1.5rem;
  --spacing-space-3xl: 4.5rem;
  --spacing-space-sm: 0.75rem;
  --spacing-margin-desktop: 3rem;

  /* Fonts */
  --font-headline-md: "Playfair Display";
  --font-label-md: "Public Sans";
  --font-label-sm: "Public Sans";
  --font-body-lead: "Public Sans";
  --font-display: "Playfair Display";
  --font-body-sm: "Public Sans";
  --font-body-md: "Public Sans";
  --font-headline-lg: "Playfair Display";
  --font-headline-lg-mobile: "Playfair Display";
  --font-display-mobile: "Playfair Display";
  --font-headline-sm: "Playfair Display";
  --font-code-md: "JetBrains Mono";

  /* Font Sizes */
  --text-headline-md: 28px;
  --text-headline-md--line-height: 36px;

  --text-label-md: 12px;
  --text-label-md--line-height: 16px;

  --text-label-sm: 11px;
  --text-label-sm--line-height: 14px;

  --text-body-lead: 18px;
  --text-body-lead--line-height: 28px;

  --text-display: 56px;
  --text-display--line-height: 64px;

  --text-body-sm: 13px;
  --text-body-sm--line-height: 20px;

  --text-body-md: 15px;
  --text-body-md--line-height: 24px;

  --text-headline-lg: 40px;
  --text-headline-lg--line-height: 48px;

  --text-headline-lg-mobile: 28px;
  --text-headline-lg-mobile--line-height: 36px;

  --text-display-mobile: 36px;
  --text-display-mobile--line-height: 44px;

  --text-headline-sm: 22px;
  --text-headline-sm--line-height: 30px;

  --text-code-md: 13px;
  --text-code-md--line-height: 20px;

}

